@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'poppins' , sans-serif;
    box-sizing: border-box;
}
body {
    background-color: black;
    color: white;
}
.container {
    margin: 8%;
    width: 90%;
    max-width: 90%;
}
.display {
    width: 60%;
    margin-top: 25px;
    margin-bottom: 20px;
    background-color: white;
    display: flex;
    align-items: center;
    color: white;
    justify-content: space-between;

    padding: 26px 20px;
    border-radius: 5px;
}
.copy-icon {
    color: black;
    width: 30px;
    cursor: pointer;
   display: flex;
    font-size: 27px;
    border: 5px solid white;
    background-color: white;
}
#password {
    width: 150px;
    display: block;
}


.container h1 {
    font-weight: 500;
    font-size: 40px;
}
.container h1 span {
    color: rgb(38, 177, 232);
}

.display input {
    border: 0;
    outline: 0;
    font-size: 20px;

}
.display:hover {
    border-bottom: 3px solid rgb(38, 177, 232);
    transition: .3s;
    border-right : 3px solid rgb(38, 177, 232);
}

.container button i {
    width: 26px;
    margin-right: 10px;

}

.container button {
    border: 0;
    outline: 0;
    background: rgb(38, 177, 232); 
    color: white;
    font-size: 25px;
    font-weight: 300;
    justify-content: center;
    align-items: center;
    padding: 15px 25px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
}

#save-pw {
    margin-top: 20px;
    background-color: rgb(48, 233, 48);
   
}
a {
    text-decoration: none;
}

.container button:hover {
    border-bottom: 3px solid white;
    border-right: 3px solid white;
    transition: .3s;
}






@media screen and (max-width: 600px)
{
    .display {
        width: 100%;
        margin-top: 25px;
        margin-bottom: 20px;
        background-color: white;
        display: flex;
        align-items: center;
        color: white;
        justify-content: space-between;
    
        padding: 26px 20px;
        border-radius: 5px;
    }
    
}